# SPDX-License-Identifier: Apache-2.0
# Copyright Red Hat Inc. and Hibernate Authors

name: GH Actions CI reporting

on:
  workflow_run:
    workflows: [ "GH Actions CI" ]
    types: [ completed ]

defaults:
  run:
    shell: bash

env:
  MAVEN_ARGS: "-e -B --settings .github/mvn-settings.xml --fail-at-end -Pci-build --no-transfer-progress"

permissions:
  contents: read

jobs:
  publish-build-scans:
    name: Publish Develocity build scans
    runs-on: ubuntu-latest
    steps:
      # Different branches might have different versions of Develocity, and we want to make sure
      #  that we publish with the one that we built the scan with in the first place:
      - name: Determine the Branch Reference for which the original action was triggered
        id: determine_branch_ref
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          if [ "${{ github.event.workflow_run.event }}" == "pull_request" ]; then
            echo "::notice::Triggering workflow was executed for a pull request"
          
            FORK_OWNER="${{ github.event.workflow_run.head_repository.owner.login }}"
            BRANCH_NAME="${{ github.event.workflow_run.head_branch }}"
            if [ "${{ github.event.workflow_run.head_repository.owner.login }}" != "${{ github.event.workflow_run.repository.owner.login }}" ]; then
              BRANCH_NAME="$FORK_OWNER:$BRANCH_NAME"
            fi
            TARGET_BRANCH=$(gh pr view "$BRANCH_NAME"  --repo ${{ github.event.workflow_run.repository.full_name }} --json baseRefName -q .baseRefName)
          
            echo "::notice::PR found. Target branch is: $TARGET_BRANCH"
            echo "original_branch_ref=$TARGET_BRANCH" >> "$GITHUB_OUTPUT"
          else
            echo "::notice::PR not found. Defaulting to head_branch."
            echo "original_branch_ref=${{ github.event.workflow_run.head_branch }}" >> "$GITHUB_OUTPUT"
          fi
      # Checkout target branch which has trusted code
      - name: Check out target branch
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2
        with:
          persist-credentials: false
          # Different branches might have different versions of Develocity, and we want to make sure
          #  that we publish with the one that we built the scan with in the first place:
          ref: ${{ steps.determine_branch_ref.outputs.original_branch_ref }}
      - name: Set up Java 21
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # 4.7.1
        with:
          java-version: 21
          distribution: temurin


